<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kolis3.book_management_system.mappers.BookMapper">

  <select id="time">
    select now()
  </select>


  <select id="getBookList" resultType="com.kolis3.book_management_system.dto.BookDTO">
    select * 
    from tbl_book
    <where>
        bno > 0
    </where>
    limit #{skip} , #{size}
  </select>


  <select id="getListCount" resultType="long">
    select count(*) 
    from 
    (select tno from tbl_book tb
    <where> 
      tb.bno > 0 
    </where>
    limit #{countEnd}
    ) book
  </select>


</mapper>