<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kolis3.book_management_system.mappers.BookMapper">

  <select id="time">
    select now()
  </select>


  <select id="getBookList" resultType="com.kolis3.book_management_system.dto.BookDTO">
	  select tb.bno ,  bookName , author , publishing ,plot ,bi.images as image ,tb.regDate ,tb.updateDate ,  min(ord) as ord , max(bo.orderYn) as orderYn , bo.mno
    from tbl_book tb left outer join tbl_book_image bi 
    on tb.bno = bi.image_bno left join tbl_book_order bo on tb.bno = bo.bno
    where tb.bno > 0
    group by tb.bno , bookName , author , publishing ,plot ,tb.regDate ,tb.updateDate, bi.images , bo.mno
    order by bno desc
    limit #{skip}, #{size}
  </select>


  <select id="getListCount" resultType="long">
    select count(*) 
    from 
    (select bno from tbl_book tb
    <where> 
      tb.bno > 0 
    </where>
    limit #{countEnd}
    ) book
  </select>

  <insert id="setBook">
      INSERT INTO tbl_book (bookName, author, publishing , plot)
      VALUES (#{bookName}, #{author}, #{publishing}, #{plot})
      <selectKey keyProperty="bno" resultType="java.lang.Long" order="AFTER">
          SELECT LAST_INSERT_ID() AS bno
      </selectKey>
  </insert>

  <insert id="setBookImage">
      insert into tbl_book_image (image_bno, images , ord)
      values (#{image_bno} , #{image} , #{ord})
  </insert>


  <insert id="rentingBook">
    insert tbl_book_order (bno , mno , orderYn) 
    values ( #{bno} , #{mno} , true);
  </insert> 

  <update id="returnBook">
    update tbl_book_order
    set orderYn = false , updateDate = now()
    where bno = #{bno}
  </update>

  
</mapper>