<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kolis3.book_management_system.mappers.MemberMapper">

  <select id="time">
    select now()
  </select>

  <resultMap id="memberMap" type="com.kolis3.book_management_system.dto.MemberReadDTO">
    <id property="memberId" column="memberId"/>
    <result property="memberName" column="memberName"/>
    <result property="memberPw" column="memberPw"/>
    <collection property="rolenames" resultMap="authMap" />
  </resultMap>

  <resultMap type="string" id="authMap">
    <result column="rolename"/>
  </resultMap>

  <select id="getMamber" resultMap="memberMap">
    select * 
    from tbl_member tm inner join tbl_member_role tmr on tmr.memberId = tm.memberId 
    where tm.memberEmail =#{memberEmail}
  </select>


</mapper>