<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인페이지</title>
</head>
<body>



  <h1>Sign in Page</h1>
    <div class="card-header">
      <h3 class="card-title">Bordered Table</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <form action="/member/signingo" method="post">
        <p>
          <input type="text" name="memberId">
        </p>
        <p>
          <input type="text" name="memberPw">
        </p>
        <p>
          <input type="checkbox" name="remember-me">Remember-Me
        </p>
        <p>
          <button type="submit">Log IN gogo</button>
        </p>
      </form>
      <!-- <a href="/oauth2/authorization/kakao">KaKao</a> -->
    </div>



<script layout:fragment="script">


  

</script>


</body>
</html>