<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 페이지</title>
</head>
<body>



  <h1>회원가입 페이지</h1>

    <div class="card-body">
      <form action="/member/signup" method="post">
        <p>
          memberEmail<input type="text" name="memberEmail">
        </p>
        <p>
          memberPw<input type="text" name="memberPw">
        </p>
        <p>
          memberName<input type="text" name="memberName">
        </p>
        <p>
          <button type="submit">가입하기</button>
        </p>
      </form>
      <!-- <a href="/oauth2/authorization/kakao">KaKao</a> -->
    </div>



<script layout:fragment="script">


  

</script>


</body>
</html>